<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/reset.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/datatables.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @RenderSection("CustomCss", required: false)

    <link rel="stylesheet" href="~/css/site.css">

    <title>@ViewData["Title"] - PoolIt</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-light bg-gray">
    <div class="container">
        <a class="navbar-brand" href="/">PoolIt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Rides" asp-controller="Rides" asp-action="All">Browse</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Rides" asp-controller="Rides" asp-action="Create">Organise ride</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact us</a>
                </li>
            </ul>

            <div class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole(GlobalConstants.AdminRoleName))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <h5 class="dropdown-header">Administration</h5>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Rides" asp-action="Index">Rides</a>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Invitations" asp-action="Index">Invitations</a>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="JoinRequests" asp-action="Index">Join requests</a>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Cars" asp-action="Index">Cars</a>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Manufacturers" asp-action="Index">Manufacturers</a>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="Users" asp-action="Index">Users</a>
                                <a class="dropdown-item" asp-area="Administration" asp-controller="ContactMessages" asp-action="Index">Contact messages</a>
                            </div>
                        </li>
                    }

                    <li class="nav-item navbar-popover"
                        data-toggle="tooltip" data-placement="bottom" title="Received join requests">
                        <a class="nav-link" asp-area="Rides" asp-controller="JoinRequests" asp-action="Index">
                            <i class="fas fa-vote-yea"></i>
                            <span class="ml-1 d-md-none">Received join requests</span>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user navbar-popover"
                               data-toggle="tooltip" data-placement="bottom" title="Profile">
                            </i>
                            <span class="ml-2 d-md-none">Profile</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <h5 class="dropdown-header">
                                @User.Identity.Name
                                @{
                                    var claim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/authenticationmethod");
                                    if (claim != null)
                                    {
                                        @:(@claim.Value)
                                    }
                                }
                            </h5>
                            <a class="dropdown-item" asp-area="Profile" asp-controller="Profile" asp-action="Index">My profile</a>
                            <a class="dropdown-item" asp-area="Account" asp-controller="Details" asp-action="Edit">Edit profile</a>
                            <a class="dropdown-item" asp-area="Account" asp-controller="Details" asp-action="ChangePassword">Change password</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Cars</h6>
                            <a class="dropdown-item" asp-area="Profile" asp-controller="Cars" asp-action="Index">My cars</a>
                            <a class="dropdown-item" asp-area="Profile" asp-controller="Cars" asp-action="Create">Add a car</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger"
                               href="javascript:document.getElementById('logoutForm').submit()">
                                Logout
                            </a>
                        </div>
                    </li>
                }
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </div>
</nav>

<partial name="_CookieConsentPartial"/>

@if (TempData.ContainsKey(GlobalConstants.TempDataSuccessMessageKey))
{
    <div class="alert alert-primary fade show mb-0" role="alert">
        <div class="container d-flex flex-row">
            <i class="fas fa-check fa-2x align-self-center"></i>
            <p class="pl-3 my-2" style="font-size: large;">@TempData[GlobalConstants.TempDataSuccessMessageKey]</p>
            <div class="ml-auto">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}

@if (TempData.ContainsKey(GlobalConstants.TempDataErrorMessageKey))
{
    <div class="alert alert-danger fade show mb-0" role="alert">
        <div class="container d-flex flex-row">
            <i class="fas fa-exclamation-circle fa-2x align-self-center"></i>
            <p class="pl-3 my-2" style="font-size: large;">@TempData[GlobalConstants.TempDataErrorMessageKey]</p>
            <div class="ml-auto">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
}

<main>
    @RenderSection("UnderNavbar", required: false)

    <div class="container">
        @RenderBody()
    </div>
</main>

<footer class="sticky-footer bg-gray">
    <div class="container">
        <span class="text-muted">
            <span class="d-none d-md-inline">
                <i class="far fa-copyright"></i> Copyright 2018 PoolIt. Licensed under GPL v3.0
            </span>
            &nbsp;
            <a class="text-muted" asp-controller="Home" asp-action="Terms">Terms</a>
            &nbsp;
            <a class="text-muted" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </span>
        <a class="float-right" href="https://github.com/martinmladenov/PoolIt">
            <i class="fab fa-github"></i>
            Source
        </a>
    </div>
</footer>

<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/moment.min.js"></script>
<script src="~/js/moment-helper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap-select.min.js"></script>
<script src="~/js/datatables.min.js"></script>
<script src="~/js/datatables-init.js"></script>
<script src="~/js/navbar-popover-init.js"></script>


<partial name="_ValidationScriptsPartial"/>

@RenderSection("Scripts", required: false)
</body>
</html>