@model UserEditBindingModel

@{
    ViewData["Title"] = "Edit profile";
}

<div class="text-center w-75 w-md-50 mx-auto">
    <h2>@ViewData["Title"]</h2>
    <hr/>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" value="@Model.Email" disabled/>
        </div>

        <div class="form-group">
            <label asp-for="@Model.FirstName"></label>
            <input class="form-control" asp-for="@Model.FirstName"/>
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.LastName"></label>
            <input class="form-control" asp-for="@Model.LastName"/>
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100 p-3">Edit profile</button>
        </div>
        <div class="form-group">
            <p>
                <a asp-controller="Details" asp-action="ChangePassword">Change password</a>
            </p>
        </div>
    </form>
</div>