@model IEnumerable<JoinRequestListingViewModel>

@{
    ViewData["Title"] = "Received requests";
}

<div class="mx-auto my-4">
    <h2 class="text-center mb-3">@ViewData["Title"]</h2>
    <table class="table table-hover dt-responsive dataTable nowrap">
        <thead>
        <tr class="font-weight-bold">
            <th>Ride</th>
            <th>User</th>
            <th>Message</th>
            <th>Received</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Ride.Title</td>
                <td>@request.UserFullName</td>
                <td>@request.Message</td>
                <td class="auto-friendly-date">@request.SentOn.ToString("O")</td>
                <td>
                    <form class="d-inline-block" asp-controller="JoinRequests" asp-action="Accept" method="post">
                        <input type="hidden" name="id" value="@request.Id">
                        <button class="btn btn-success" type="submit">
                            <i class="fas fa-check"></i> Accept
                        </button>
                    </form>
                    <form class="d-inline-block" asp-controller="JoinRequests" asp-action="Refuse" method="post">
                        <input type="hidden" name="id" value="@request.Id">
                        <button class="btn btn-danger" type="submit">
                            <i class="fas fa-times"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>