@model InvitationViewModel

@{

    ViewData["Title"] = "Invitation for " + Model.Ride.Title;

    var isUserParticipant = User.Identity.IsAuthenticated && Model.Ride.Participants.Any(p => p.UserEmail == User.Identity.Name);
    var isOrganiser = User.Identity.IsAuthenticated && Model.Ride.OrganiserEmail == User.Identity.Name;

    var remainingSeats = Model.Ride.AvailableSeats + 1 - Model.Ride.Participants.Count;
}

@if (isOrganiser)
{
    <div class="card w-75 mx-auto text-center shadow my-5">
        <div class="card-body">
            <div class="card-title">
                <h5>Share this link with the person you would like to invite</h5>
            </div>

            <div class="input-group input-group-lg">
                <input type="text" class="form-control bg-white text-center" value="123" id="linkField"
                       readonly="readonly" onClick="this.select();">

                <div class="input-group-append">
                    <button class="btn btn-primary" onclick="copyLink()">
                        <i class="fas fa-copy"></i> Copy
                    </button>
                </div>

            </div>

            <h6 class="text-muted mt-3">
                One invitation is valid for one person <br>
                Create multiple in order to invite more people
            </h6>

            <button class="btn btn-danger mt-3" data-toggle="modal" data-target="#deleteModal">Delete invitation</button>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete invitation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    If you delete this invitation, it will be invalidated immediately.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>

                    <form asp-action="Delete" asp-controller="Invitations" method="post">
                        <input type="hidden" name="invitationKey" value="@Model.Key">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div class="card w-75 mx-auto text-center shadow-lg my-5">
    @if (isOrganiser)
    {
        <div class="card-header">This is how the invitation looks like:</div>
    }
    <div class="card-body">
        <div class="card-title">
            <h4>@Model.Ride.OrganiserFullName</h4>
            <h6 class="text-muted">has invited you to join the ride</h6>
            <h3>@Model.Ride.Title</h3>
        </div>
        <div class="card text-center w-50 mt-3 mx-auto">
            @if (isUserParticipant)
            {
                <div class="card-body">
                    <div class="btn btn-primary btn-block py-3 disabled">
                        <i class="fas fa-check"></i> Already participating
                    </div>
                </div>
            }
            else if (remainingSeats == 0)
            {
                <div class="card-body">
                    <div class="btn btn-secondary btn-block py-3 disabled">All seats are taken</div>
                </div>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <div class="card-body">
                    <form asp-controller="Invitations" asp-action="Accept" method="post">
                        <input type="hidden" name="invitationKey" value="@Model.Key">
                        <button type="submit" class="btn btn-primary btn-block py-3">
                            <i class="fas fa-hand-point-right"></i> Accept
                        </button>
                    </form>
                </div>
            }
            else
            {
                <div class="card-header">Login now to join</div>
                <div class="card-body">
                    <a class="btn btn-primary btn-block py-3" asp-controller="Authentication" asp-action="Login"
                       asp-route-returnUrl="@Url.Action("Details", "Invitations", new {invitationKey = Model.Key})">
                        <i class="fas fa-hand-point-right"></i> Login now
                    </a>
                </div>
            }
            <div class="card-footer">
                <i class="fas fa-user-friends"></i> @remainingSeats remaining free
                @(remainingSeats == 1 ? "seat" : "seats")
            </div>
        </div>

        <a class="btn btn-outline-primary mt-3" asp-controller="Rides" asp-action="Details" asp-route-id="@Model.Ride.Id">View ride details</a>
    </div>
</div>

@section Scripts
{
    <script>
        var linkField = document.getElementById("linkField");
        linkField.value = window.location.href;
        linkField.select();
    </script>

    <script>
        function copyLink() {
            var linkField = document.getElementById("linkField");
            linkField.select();
            document.execCommand("copy");
        }
    </script>
}