@using PoolIt.Web.Areas.Administration.Controllers
@using PoolIt.Web.Areas.Administration.Models
@model CarManufacturerAdminBindingModel

@{
    ViewData["Title"] = "Manufacturers";
}

<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#createModal">
    <i class="fas fa-plus"></i> Add manufacturer
</button>

<table class="table table-hover mt-3 dt-responsive dataTable nowrap">
    <thead>
    <tr class="font-weight-bold">
        <th>Manufacturer</th>
        <th>Models</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var manufacturer in (IEnumerable<CarManufacturerAdminViewModel>) ViewData[ManufacturersController.ManufacturersKey])
    {
        <tr>
            <td>@manufacturer.Name</td>
            <td>@manufacturer.Models.Count</td>
            <td>
                <a class="btn btn-primary" asp-controller="Models" asp-action="Manufacturer" asp-route-id="@manufacturer.Id">
                    <i class="fas fa-list"></i> Manage models
                </a>

                <button class="btn btn-outline-secondary" data-toggle="modal"
                        data-target="#editModal" data-id="@manufacturer.Id"
                        data-name="@manufacturer.Name">
                    <i class="fas fa-pen"></i> Edit
                </button>

                @if (manufacturer.Models.Count == 0)
                {
                    <button class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#deleteModal" data-id="@manufacturer.Id"
                            data-name="@manufacturer.Name">
                        <i class="fas fa-trash"></i> Delete
                    </button>
                }
                else
                {
                    <div class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right"
                         title="Manufacturers with models cannot be deleted">
                        <button class="btn btn-outline-danger" disabled="disabled">
                            <i class="fas fa-trash"></i> Delete
                        </button>
                    </div>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                <form asp-action="Delete" asp-controller="Manufacturers" method="post">
                    <input type="hidden" name="id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Manufacturers" asp-action="Create" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">New manufacturer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label"></label>
                        <input asp-for="Name" class="form-control" id="createField"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Manufacturers" asp-action="Edit" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Edit manufacturer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" name="id"/>
                    <div class="form-group">
                        <label asp-for="Name" class="col-form-label"></label>
                        <input asp-for="Name" class="form-control" id="editField"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-pen"></i> Edit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#deleteModal').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var name = button.data('name');
                var modal = $(this);
                modal.find('.modal-title').text('Delete ' + name);
                modal.find('.modal-body').text('Are you sure you would like to delete ' + name + ' ?');
                modal.find('.modal-footer input[name=id]').val(id);
            });


        $('body').tooltip({ selector: '[data-toggle="tooltip"]' });

        $('#createModal').on('shown.bs.modal',
            function() {
                $('#createField').trigger('focus');
            });

        $('#editModal').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var name = button.data('name');
                var modal = $(this);
                modal.find('.modal-body input[name=id]').val(id);
                modal.find('#editField').val(name);
            });

        $('#editModal').on('shown.bs.modal',
            function() {
                $('#editField').trigger('focus');
            });
    </script>
}