@model IEnumerable<PoolIt.Web.Areas.Rides.Models.Ride.RideListingViewModel>

<div class="row text-center">
    @foreach (var ride in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-12 py-4">
            <a class="a-card" draggable="false"
               asp-area="Rides" asp-controller="Rides" asp-action="Details" asp-route-id="@ride.Id">
                <div class="card floating-card shadow">
                    <div class="card-body">
                        <h4 class="card-title">@ride.Title</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fas fa-location-arrow"></i> @ride.From &mdash; @ride.To
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-car"></i> @ride.CarModel
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-calendar-alt"></i> @ride.Date.ToString(GlobalConstants.DateFormat)
                        </li>
                    </ul>
                    <div class="card-body">
                        <div class="btn btn-primary">Details</div>
                        <form class="d-inline" method="get" asp-area="Conversations" asp-controller="Conversations"
                              asp-action="Details" asp-route-id="@ride.ConversationId">
                            <button class="btn btn-outline-primary px-3" type="submit">
                                <i class="fas fa-comments"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </a>
        </div>
    }
</div>