@using PoolIt.Web.Areas.Administration.Controllers
@model IEnumerable<PoolIt.Web.Areas.Administration.Models.UserAdminListingModel>

@{
    ViewData["Title"] = "Users";

    var isCurrentUserSeniorAdmin = User.IsInRole(GlobalConstants.SeniorAdminRoleName);
}

@if (!isCurrentUserSeniorAdmin)
{
    <div class="alert bg-darker-gray shadow text-dark" role="alert">
        <i class="fas fa-info-circle"></i> &nbsp;
        As you are not a senior administrator, some options may be unavailable
    </div>
}

<table class="table table-hover mt-3 dt-responsive dataTable nowrap">
    <thead>
    <tr class="font-weight-bold">
        <th>First name</th>
        <th>Last name</th>
        <th>Role</th>
        <th>Cars</th>
        <th>Organised rides</th>
        <th>Rides participating in</th>
        <th>Sent join requests</th>
        <th>Email</th>
        @if (isCurrentUserSeniorAdmin)
        {
            <th class="none">Change role</th>
        }
        <th class="none">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        var userFullName = $"{user.FirstName} {user.LastName}";

        <tr class="@(user.Role != UsersController.UserRoleName ? "font-weight-bold" : "")">
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Role</td>
            <td>@user.CarCount</td>
            <td>@user.OrganisedRideCount</td>
            <td>@user.ParticipatingRideCount</td>
            <td>@user.SentRequestCount</td>
            <td>@user.Email</td>
            @if (isCurrentUserSeniorAdmin)
            {
                <td>
                    <div class="btn-group ml-3" role="group">
                        @if (user.Role == UsersController.SeniorAdminRoleName)
                        {
                            <button class="btn px-2 btn-primary">
                                @UsersController.SeniorAdminRoleName
                            </button>
                        }
                        else
                        {
                            <button class="btn px-2 btn-outline-primary" data-toggle="modal" data-target="#updateRoleModal"
                                    data-id="@user.Id" data-name="@userFullName">
                                @UsersController.SeniorAdminRoleName
                            </button>
                        }

                        @if (user.Role == UsersController.AdminRoleName)
                        {
                            <button class="btn px-4 btn-primary">
                                @UsersController.AdminRoleName
                            </button>
                        }
                        else
                        {
                            <button class="btn px-4 btn-outline-primary" data-toggle="modal" data-target="#updateRoleModal"
                                    data-id="@user.Id" data-name="@userFullName">
                                @UsersController.AdminRoleName
                            </button>
                        }

                        @if (user.Role == UsersController.UserRoleName)
                        {
                            <button class="btn px-4 btn-secondary">
                                @UsersController.UserRoleName
                            </button>
                        }
                        else
                        {
                            <button class="btn px-4 btn-outline-secondary" data-toggle="modal" data-target="#updateRoleModal"
                                    data-id="@user.Id" data-name="@userFullName">
                                @UsersController.UserRoleName
                            </button>
                        }
                    </div>
                </td>
            }
            <td>
                @if (isCurrentUserSeniorAdmin || user.Role == UsersController.UserRoleName)
                {
                    <button class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#resetPasswordModal" data-id="@user.Id" data-name="@userFullName">
                        <i class="fas fa-unlock"></i> Reset password
                    </button>
                    <button class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#deleteAccountModal" data-id="@user.Id" data-email="@user.Email"
                            data-name="@userFullName">
                        <i class="fas fa-trash"></i> Delete account
                    </button>
                }
                else
                {
                    <button class="btn btn-outline-primary" disabled="disabled">
                        <i class="fas fa-unlock"></i> Reset password
                    </button>
                    <button class="btn btn-outline-danger" disabled="disabled">
                        <i class="fas fa-trash"></i> Delete account
                    </button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>

                <form asp-action="SetRole" asp-controller="Users" method="post">
                    <input type="hidden" name="id">
                    <input type="hidden" name="role">
                    <button type="submit" class="btn btn-primary">Change role</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>

                @Html.AntiForgeryToken()
                <input type="hidden" id="resetPasswordUserId">
                <button id="resetPasswordBtn" class="btn btn-outline-primary">Reset password</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resetPasswordResultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Users" asp-action="DeleteAccount" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="deleteAccountText"></p>
                    <p>Type the user's email and your password to confirm deletion</p>

                    <div class="form-group">
                        <label id="deleteAccountEmailLabel"></label>
                        <input id="deleteAccountEmail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Your password</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Cancel</button>
                    <input type="hidden" name="id">
                    <button type="submit" class="btn btn-danger" id="deleteAccountButton">
                        <i class="fas fa-trash"></i> Delete account
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#updateRoleModal').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var name = button.data('name');
                var role = button.text().trim();
                var modal = $(this);
                modal.find('.modal-title').text('Change role of user ' + name);
                modal.find('.modal-body').text(
                    `Are you sure you would like to change the role of user ${name} to ${role}?`
                );
                modal.find('.modal-footer input[name=id]').val(id);
                modal.find('.modal-footer input[name=role]').val(role);
            }
        );

        $('#resetPasswordModal').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var name = button.data('name');
                var modal = $(this);
                modal.find('.modal-body')
                    .text('Are you sure you would like to reset ' + name + '\'s password?');
                $('#resetPasswordUserId').val(id);
            }
        );

        $('#resetPasswordBtn').click(
            function() {
                $('#resetPasswordModal').modal('hide');
                $.ajax({
                    url: '@Url.Action("ResetPassword", "Users")',
                    type: "POST",
                    data: {
                        id: $('#resetPasswordUserId').val(),
                        __RequestVerificationToken:
                            $('#resetPasswordModal input[name=__RequestVerificationToken]').val()
                    },
                    success: function(result) {
                        var modal = $('#resetPasswordResultModal');
                        modal.find('.modal-title').text('Password reset successfully');
                        modal.find('.modal-body')
                            .text(result.name + '\'s password was reset to ' + result.newPassword);

                        modal.modal('show');
                    },
                    error: function() {
                        var modal = $('#resetPasswordResultModal');
                        modal.find('.modal-title').text('Error');
                        modal.find('.modal-body').text('An error occured while resetting password, try again later');

                        modal.modal('show');
                    }
                });
            }
        );

        $('#deleteAccountModal').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var name = button.data('name');
                var email = button.data('email');
                var modal = $(this);
                modal.find('#deleteAccountText')
                    .text('Are you sure you would like to delete ' + name + '\'s account?');
                modal.find('#deleteAccountEmailLabel').text(email);
                modal.find('#deleteAccountEmail').val('');
                modal.find('#deleteAccountButton').prop('disabled', true);

                modal.find('input[name=password]').val('');
                modal.find('.modal-footer input[name=id]').val(id);
            }
        );

        $('#deleteAccountEmail').change(function() {
            var currentValue = $(this).val();
            var userEmail = $('#deleteAccountEmailLabel').text();

            $('#deleteAccountButton').prop('disabled', currentValue !== userEmail);
        });
    </script>
}