@model UserRegisterBindingModel
@addTagHelper PoolIt.Web.TagHelpers.ReCaptchaTagHelper, PoolIt.Web

@{
    ViewData["Title"] = "Register";
}

<div class="text-center w-75 w-md-50 mx-auto">
    <h2>@ViewData["Title"]</h2>
    <hr/>

    <form method="post" class="form-horizontal" asp-controller="Authentication" asp-action="GitHubLogin">
        <button type="submit" class="btn btn-dark w-100 p-3 btn-github" name="provider" value="GitHub">
            <i class="fab fa-github"></i>
            Login with GitHub
        </button>
    </form>

    <form method="post">
        <hr/>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.Email"></label>
            <input class="form-control" asp-for="@Model.Email" class="form-control"/>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input class="form-control" asp-for="@Model.Password" class="form-control"/>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ConfirmPassword"></label>
            <input class="form-control" asp-for="@Model.ConfirmPassword" class="form-control"/>
            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.FirstName"></label>
            <input class="form-control" asp-for="@Model.FirstName" class="form-control"/>
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.LastName"></label>
            <input class="form-control" asp-for="@Model.LastName" class="form-control"/>
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <recaptcha/>
            <span asp-validation-for="@Model.ReCaptchaResponse" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100 p-3">Register</button>
            <small>
                By clicking the above button, you agree to our
                <a asp-controller="Home" asp-action="Terms">Terms and conditions</a> and
                <a asp-controller="Home" asp-action="Privacy">Privacy policy</a>
            </small>
        </div>
        <div class="form-group">
            <p>
                <a asp-controller="Authentication" asp-action="Login">Login as an existing user</a>
            </p>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js"></script>
}