@model IEnumerable<CarListingViewModel>

@{
    ViewData["Title"] = "My cars";
}

<div class="mx-auto my-4">
    <div class="text-center mb-3">
        <h2>@ViewData["Title"]</h2>
        <a class="btn btn-primary" asp-controller="Cars" asp-action="Create">
            <i class="fas fa-plus"></i> Add a car
        </a>
    </div>

    <table class="table table-hover dt-responsive dataTable nowrap">
        <thead>
        <tr class="font-weight-bold">
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Colour</th>
            <th>Details</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Model.Manufacturer.Name</td>
                <td>@car.Model.Model</td>
                <td>@car.Colour</td>
                <td>@car.Details</td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@car.Id">
                        <i class="fas fa-pen"></i> Edit
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>